* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  color: #fdf4e3;
}
.header {
  padding: 15px;
  background-color: #c14f4f;
  height: 15%;
}
.flex-1 {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  padding: 15px;
  background-color: #c14f4f;
  height: 10%;
}
.main {
  display: flex;
  height: 75%;
}
.left, .right {
  background-color: #c28282;
  width: 25%;
}
.middle {
  background-color: #699ebd;
  width: 50%;
}
